@using Core.DomainModels
@using Core.Tools
@model Core.DomainModels.MissionDraft

@{
    ViewBag.Title = "Удаление черновика";
}

<h2>Предложение миссии</h2>

<h3>Вы действительно хотите удалить это предложение миссии?</h3>
<div>
    <h4>Удаление</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difficulty)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.CorrectAnswers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrectAnswers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonQualities)
        </dt>

        <dd>
            @Html.Encode(Model.PersonQualities.Select(pt =>
                     ((IEnumerable<PersonQuality>)ViewBag.PersonQualities).First(pq => pq.Id == pt.PersonQualityId).Name).JoinToString())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div @*class="form-actions no-color"*@>
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
