@model RadrugaCloud.Models.MissionUi

<div class="form-group">
    @Html.LabelFor(model => model.CommonPlaceAlias, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.CommonPlaceAlias, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CommonPlaceAlias, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.AccuracyRadius, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.AccuracyRadius, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.AccuracyRadius, "", new { @class = "text-danger" })
    </div>
</div>


<div class="form-group">
    @Html.LabelFor(model => model.TriesFor3Stars, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.TriesFor3Stars, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.TriesFor3Stars, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.TriesFor2Stars, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.TriesFor2Stars, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.TriesFor2Stars, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.TriesFor1Star, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.TriesFor1Star, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.TriesFor1Star, "", new { @class = "text-danger" })
    </div>
</div>